<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.charlezz.photo">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_photo">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".PhotoActivity">
            <intent-filter>
                <data
                    android:scheme="${COMMON_SCHEME}"
                    android:host="${PHOTO_HOST}"
                    />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>